* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7; /* You can change this color to any color you prefer */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.image-gallery {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.image {
    flex: 0 0 100%;
    scroll-snap-align: start;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-gallery::-webkit-scrollbar {
    display: none; /* Hide scrollbars for a cleaner look */
}
@media (max-width: 768px) {
    .image-gallery {
        overflow-x: hidden;
    }
}

/* Hide scrollbars for a cleaner look */
.image-gallery::-webkit-scrollbar {
    display: none;
}